<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make A Wish!</title>
</head>
<body>
    <div id="header">
        <h2>Hello {{wish_user.first_name}}! Lets make a wish!</h2>
        <a href="/">Logout</a>
    </div>
    <div id="body">
        <form action="/process_wish">
            {% csrf_token %}
            <p>I wish for: <input type="text" name="wish" id="wish"></p>
            <p>Description: <input type="text" name="wish_description" id="wish_description"></p>
            <input type="submit" value="Make The Wish!">
        </form>
    </div>
</body>
</html>